[2017-06-13 11:30] wrichter opened #3 "after installation, master nodes are marked schedulable"
As part of the install process, the scripts delete the node and restarts the atomic-openshift-node agent to recreate the node config: https://github.com/Microsoft/openshift-container-platform/blob/master/scripts/deployOpenShift.sh#L375

This causes master the master nodes to be marked as schedulable and containers are scheduled to run on the masters.

@ivanthelad @rschickhaus

[2017-06-13 11:51] wrichter opened #4 "after installation, the node tags are missing - causes fluentd deployment not to take place"
As part of the install process, the scripts delete the node and restarts the atomic-openshift-node agent to recreate the node config: https://github.com/Microsoft/openshift-container-platform/blob/master/scripts/deployOpenShift.sh#L375

this causes all tags - especially "logging-infra-fluentd: 'true'" to go missing, hence fluentd is not deployed.

Repair: just label all nodes again with logging-in

[2017-07-19 15:36] dwojciec commented on #3
to correct it just execute
$ oadm manage-node <mycluster-master-0> --schedulable=false
$ oadm drain <mycluster-master-0> --force --delete-local-data --ignore-daemonsets
<mycluster-master-0> is the name of my master node.

[2017-09-25 16:08] heatmiser opened #5 "Cluster DNS not configured properly?"
Deployed 3x3x3 master/infra/node configuration.  Can login and deploy basic pod apps, however, deploying things like example CI/CD pipelines w/ Jenkins integration...
https://raw.githubusercontent.com/kenthua/nodejs-ex/demo/bluegreen-pipeline.yml
...fails to work properly.  Build pipeline does not work. Looking at the log for the Jenkins pod, it's unable to reach openshift.default.svc. Issue seems

[2017-09-25 19:20] shavlikleague commented on #5
Setting openshift_use_dnsmasq=true for each occurrence in scripts/deployOpenShift.sh has resolved the issue.

[2017-09-29 22:24] haroldwongms commented on #3
I am correcting this in the next release of the templates that will deploy OpenShift Container Platform 3.6.

[2017-09-29 22:25] haroldwongms commented on #4
I am fixing this in the next release of the templates that will deploy OpenShift Container Platform 3.6.

[2017-09-29 22:27] haroldwongms commented on #5
I am fixing this in the next release of the templates that will deploy OpenShift Container Platform 3.6.  In 3.6, openshift_use_dnsmasq=true is required.

[2017-10-04 05:32] heatmiser opened #8 "bastionPrep.sh caused recent deploy to fail"
This line in ./scripts/bastionPrep.sh caused my recent deploy to fail...

yum install atomic-openshift-excluder atomic-openshift-docker-excluder

From stdout on bastion node...
atomic-openshift-excluder not found

Script line should be...
yum -y install atomic-openshift-excluder atomic-openshift-docker-excluder

[2017-10-04 06:26] haroldwongms commented on #8
Fixed.

[2017-10-04 06:26] #8 closed

[2017-10-04 06:27] haroldwongms commented on #3
Master nodes are now marked as unschedulable upon successful deployment.

[2017-10-04 06:27] #3 closed

[2017-10-04 06:28] haroldwongms commented on #4
logging-Infra-fluentd=true and logging=true labels set as part of setup.

[2017-10-04 06:28] #4 closed

[2017-10-04 06:28] haroldwongms commented on #5
Now using dnsmasq=true.

Closing.

[2017-10-04 06:28] #5 closed

[2017-10-17 00:32] debianmaster opened #11 "/root/.ssh/id_rsa: No such file or directory"
Got this error
[code]
[code]

[2017-10-17 00:39] BorisB2015 commented on #11
It is an indication that one of the prior steps failed. You should look at stdout too. See prior step  `cat /var/lib/waagent/custom-script/download/0/std*` and check if there are any failures in it.

[2017-10-17 00:58] debianmaster commented on #11
got it.   any idea why there are two folder  `0` and `1` ?

[2017-10-17 01:39] BorisB2015 commented on #11
Each VM can have multiple executions (custom script in this case) of an extension on it - each incarnation gets its own folder. Normally there is a infra script (e.g. prepNode.sh), followed by OpenShift deployment (deployOpenShift.sh). You can see this in the template itself. Their order may be defined by "dependsOn" in the template.

Did you find the actual error?

[2017-10-17 02:00] #11 closed

[2017-10-17 02:00] debianmaster commented on #11
Yes found it. Looks like my evals have some issue and ansible is not
installed as part of masterPrepare.sh.

Closing issue

On Mon, Oct 16, 2017 at 6:39 PM Boris Baryshnikov <notifications@github.com>
wrote:

[2017-11-01 13:42] mglantz opened #13 "Setup of Container Native Storage"
Hey there,

What do you think about a pull request which adds support for running OpenShift CNS (Container Native Storage)?

More info here: https://access.redhat.com/documentation/en-us/red_hat_gluster_storage/3.3/html/container-native_storage_for_openshift_container_platform/

TL;DR: Tight integration with Gluster based software defined storage. Provisioning, setup, configuration of persistent s

[2017-11-01 13:51] mglantz commented on #13
Note, I have CNS working in a fork here: https://github.com/mglantz/ocp36-azure-cns

[2017-11-18 11:25] mglantz opened #14 "Memory and CPU requisites"
I've noted that memory and CPU requisites are ignored, any special reason for this?
Seems to me, minimum node spec should be Standard_DS3_v2 and minimum master spec should be Standard_DS4_v2.

[2017-11-23 18:46] marcosgm opened #15 "fix samples.json with proper github URL"
See https://github.com/Microsoft/openshift-container-platform/blob/master/azuredeploy.parameters.json
and https://github.com/Microsoft/openshift-container-platform/blob/master/azuredeploy.parameters.sample.json
It contains
                "_artifactsLocation": {
                        "value": "https://raw.githubusercontent.com/haroldwongms/openshift-containerplatform/master"
                },

[2017-12-01 20:16] haroldwongms commented on #14
@mglantz I am skipping the checks for the smaller cluster sizes (simple test purposes) that might want to use a lower cost VM.

[2017-12-04 17:46] ryannix123 commented on #14
So just to clarify, the minimum specs for Nodes and Master are node Standard_DS3_v2 and minimum master spec is Standard_DS4_v2?

[2017-12-04 17:48] ryannix123 opened #16 "3.7 support"
Before I try to deploy a new cluster, I just wanted to see if Origin 3.7 is supported with the Azure deployment scripts.

[2017-12-04 19:42] mglantz commented on #16
Origin? OpenShift Container Platform 3.7 is now released :)

[2017-12-04 19:44] ryannix123 commented on #16
Correct. If memory serves, when Origin 3.6 was released @haroldwongms and @BorisB2015 had to make some tweaks in the deployment scripts first.

[2017-12-04 19:58] mglantz commented on #14
This is also true for OpenShift Container Platform 3.7, which we just released.
Minimum specs ( https://docs.openshift.com/container-platform/3.7/install_config/install/prerequisites.html#hardware ) are for a master server, 16 GB RAM and 2 VCPU, for a node it's 8 GB RAM and 1 VCPU.

When I check the gallery images which I can see on my Azure account, minimum gallery image spec should be Standard_D

[2017-12-04 19:59] mglantz commented on #14
Please note that it's minimum requirements, that means that if you go lower than that your mileage will vary.

[2017-12-04 20:03] mglantz commented on #16
I think you mean OCP (OpenShift Container Platform). Origin is the upstream project, but this is using the downstream project from us, which is called OpenShift Container Platform :)

Anyways, I'm testing my Azure automation for 3.7. I'll make a pull request with any changes required here.

[2017-12-04 20:05] ryannix123 commented on #16
Sorry! I should have posted my question in the Origin repo, not the OCP repo. Right now we're still testing OpenShift so we're trying to run the latest version of Origin on Azure while minimizing costs.

[2017-12-04 20:15] mglantz commented on #15
It seems to me that this one thing is a bit messy, it is possible to make this dynamic, so that it will point at the repo from which the things are fired off from?

[2017-12-04 21:58] mglantz opened #18 "Development torwards OCP 3.7?"
Hi all,

OpenShift Container Platform 3.7 is out. Should all new development then perhaps be geared against 3.7? I'm myself porting my own stuff to 3.7 now. If you like I can create a pull request based on my 3.7 findings.

[2017-12-04 22:06] mglantz commented on #18
So far:
-Service Broker (enabled by default) requires separate storage
-openshift_metrics_hawkular_hostname only takes hostname
-Etcd needs to be run separately (requires own group), meaning restart is always done as if we're in HA mode.

[2017-12-04 22:09] BorisB2015 commented on #18
@haroldwongms is working on migration to 3.7. Thanks for the offer! Let's keep this open for updates/Qs, etc.

[2017-12-04 22:11] ryannix123 commented on #18
Excellent. It would be great to see metrics enabled by default for Origin as well. @haroldwongms

[2017-12-04 22:21] mglantz commented on #18
@ryannix123 that is out-of-topic for this thread. You can contact me offline at sudo at redhat dot com if you want to discuss OpenShift architecture. Or have a look at: https://docs.openshift.com/container-platform/3.7/install_config/install/planning.html#environment-scenarios

[2017-12-04 22:31] ryannix123 commented on #18
Thanks, @mglantz. Will do. The only reason I was asking under this thread was because it related to a specific feature request/release with the OpenShift on Azure deployment scripts. I would love to see the option to deploy a cluster across multiple Azure regions. If it's possible, of course.

[2017-12-04 23:21] mglantz commented on #18
Seems like masterPublicURL do not take for SSO. Kibana redirects to ocpm-0.abcdefghijklmnopqrstuvwxyz.fx.internal.cloudapp.net

[2017-12-04 23:45] mglantz commented on #18
I created https://bugzilla.redhat.com/show_bug.cgi?id=1520689 for the SSO/masterPublicURL issue.

[2017-12-25 16:10] kim0 opened #20 "Scale up/down and upgrade"
Hello folks,

Is it possible to scale the deployment up/down and upgrade it, after the initial deployment has been completed? Any pointers how to do this, would be great. Thanks

[2017-12-27 13:26] mabdulmoghni opened #21 "Deployment failed on azure"
Trying new deployment on azure .. with
Enable Metrices : True
Enable Logging : True
Enable Cockbit : True
Enable Azure : True
And all other default values

Deployment failed with error : failed to start atomic-openshift-node.service on the infra-1 node.
below the error on azure side
 [mycluster-infra-1]\n\nTASK [populate /etc/azure/azure.conf] ******************************************\nchanged: [

[2017-12-27 13:56] mabdulmoghni opened #22 "failed to mount azure disks"
Deployment failed to start Logging/metrics pods
While the azure storageclass is able to create the blobs on azure storage account, disks aren't discovered/mounted

Unable to mount volumes for pod "hawkular-cassandra-1-96ps3_openshift-infra(6fce6fb3-eb0a-11e7-bcd0-000d3a23c3e8)": timeout expired waiting for volumes to attach/mount for pod "openshift-infra"/"hawkular-cassandra-1-96ps3". list of unat

[2018-01-08 18:55] dewolfs commented on #18
Is there a timeline when 3.7 will be available?

[2018-01-13 01:00] haroldwongms commented on #18
I just pushed the update for 3.7.  Please take a look and provide any feedback.  Thank you!

[2018-01-13 01:00] #18 closed

[2018-01-13 01:03] haroldwongms commented on #21
I will review the OCP 3.6 deployment and work on fixing the issues.  Stay tuned.

[2018-01-13 01:03] haroldwongms commented on #22
I will review the OCP 3.6 deployment and work on fixing the issues.  Stay tuned.

[2018-01-13 01:04] haroldwongms commented on #16
I just updated OCP to 3.7.  I will work on updating Origin to 3.7 as well.

[2018-01-13 01:06] haroldwongms commented on #14
@mglantz.  I will update the documentation to point this out.  Will probably also change the default to be a size that is within the minimum specs.

[2018-01-15 14:41] glennswest commented on #21
any sucess? I'm seeing the same thing

[2018-01-17 23:49] haroldwongms commented on #15
This has been fixed in the latest updates.

[2018-01-17 23:49] #15 closed

[2018-01-17 23:50] #16 closed

[2018-01-17 23:52] haroldwongms commented on #21
Am working on this right now.   Look for an update tomorrow.

[2018-01-18 02:39] glennswest commented on #21
im seeing failures in 3.6 if you patch.Looks like a upstream bug kubernetes is getting confused.
    On Thursday, 18 January 2018, 7:52:04 AM GMT+8, Harold Wong <notifications@github.com> wrote:

Am working on this right now. Look for an update tomorrow.

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub, or mute the thread.

[2018-01-30 21:12] piggyvenus opened #28 "Add custom certificates option"
It would be nice to be able to use custom certificates instead of just using the self signed cert.

[2018-02-06 23:00] haroldwongms commented on #28
@piggyvenus I agree.  I have been looking at incorporating this into the template as well as the Azure Marketplace offer.  Give me a little time to work on this as my calendar is completely swamped right now.

[2018-02-07 10:18] dwaiba opened #30 "Hitting the following error"
While deploying via the portal with all default parameters(logging, azure cloud, metrics and tower as false)

Hitting the following error:
`{"code":"DeploymentFailed","message":"At least one resource deployment operation failed. Please list deployment operations for details. Please see https://aka.ms/arm-debug for usage details.","details":[{"code":"Conflict","message":"{\r\n \"status\": \"Failed\

[2018-02-07 11:36] carct commented on #30
try with different branch, believe that the master is a bit behind and that some people are working on it

https://github.com/Microsoft/openshift-container-platform/tree/release-3.6

worked just fine about a week ago, i`m going to try it again now as well

[2018-02-15 19:00] novacain1 commented on #30
This is more than likely the template service broker by default expecting the default region selector to be region=infra, which is not the case with the templates here in this repo.  I'll open a PR.

[2018-02-16 16:31] haroldwongms commented on #30
The Master branch and Release-3.7 branch should now be updated with fixes.  Please confirm.  Thank you.

[2018-02-26 22:41] piggyvenus commented on #28
Thanks for following up on this one!

[2018-02-26 22:46] piggyvenus opened #44 "Request from customer on changing the port from default 8443 to 443."
Given than the router is running on a different host from the master(s). It would be nice if there is an option to change the Web UI port number by providing the following parameter in the inventory file.
## The two parameters below would be used if you want API Server and Master running on 443 instead of 8443.
## In this cluster 443 is used by router, so we cannot use 443 for master
openshift_mas

[2018-02-28 12:18] meeuwesen opened #46 "azuredeploy.json only provide one RHSM PoolId but mine subscription has two"
I have to PoolId's both are RH Openshift Enterprise.
One is the "Red Hat OpenShift Container Platform Broker/Master Infrastructure" and the other is
"Red Hat OpenShift Container Platform, Standard, 2-Core".
I doesn't matter which one i use, in the error logging it state
"Incorrect Pool ID or no entitlements available"
I want 9 system connect to the 2-core subscription and the others to the infrast

[2018-03-01 18:59] dwaiba commented on #30
commit 77b073ecc995eb3d7d25b083864eaadaaa2c0d0f fixes this. closing

[2018-03-05 13:09] dwaiba opened #47 "cockpit URL 9090 password for root is not recognized"
Happens only for Cokpit = true, everything default on 3.7 branch and master.

Same password  (as initially provided ocpadmin password) for user root for cockpit url https://<MASTERDNS>:9090 does not work

[2018-03-08 06:26] miosman opened #48 "installation fails due to docker 1.13"
### Environment:
RHEL 7.4
Openshift 3.7

Ansible installation fails on this environment because the prep scripts installed docker 1.13. As per the documentation for 3.7 here https://docs.openshift.com/container-platform/3.7/install_config/install/host_preparation.html#installing-docker the docker version should be fixed at 1.12.6. Could be an issue with atomic-openshift-docker-excluder not blockin

[2018-03-09 01:19] miosman commented on #48
Confirmed as an issue from upstream openshift ansible see https://github.com/openshift/openshift-ansible/issues/7442. The PR available to fix it removes the docker version check.

We should still pin the installed version at 1.12.6 as the current code in 3.7 branch will install docker 1.13.

[2018-03-09 01:44] miosman commented on #48
submitted PR #49 to fix the version issue

[2018-03-10 03:51] miosman opened #51 "logging installation on 3.7 branch fails with azure cloud provider enabled"
When using the 3.7 branch with Azure cloud provider enabled, the installation of the logging component fails due to the PVC for elasticsearch containing spec selectors.
`openshift_logging_storage_labels={'storage': 'logging'}`

Label selectors are not supported by azure-disk see https://github.com/kubernetes/kubernetes/issues/58413 and as such for the installation to complete the line above should

[2018-03-10 17:59] vincepower commented on #51
This is already fixed on the master branch, and it is also included in PR50 for the release-3.7 branch.

Comment out, or remove, this line in deployOpenShift.sh:
`
openshift_logging_storage_labels={'storage': 'logging'}
`

[2018-03-10 18:06] vincepower opened #52 "Randomly master-2 only has 32GB of disk"
master-0 and master-1, but occasionally master-2 only has 32GB assigned and it causes the deployment to fail. infra and nodes are fine too. It seems to be specific to master-2.

I don't know how this would happen since it is a loop. I've seen it three times in the last few days of testing.

`
CHECK [memory_availability : ocpcluster-master-2] ******************************
fatal: [ocpcluster-master

[2018-03-12 09:05] dwaiba commented on #30
Reopening as master is consistently hitting  error
az command
`az group create -l eastus -n openshiftclusterrg && az group deployment create -g openshiftclusterrg -n openshiftcluster --template-uri https://raw.githubusercontent.com/microsoft/openshift-container-platform/master/azuredeploy.json --parameters "{\"openshiftPassword\":{\"value\":\"<password value>\"},\"enableMetrics\":{\"value\":\"true

[2018-03-12 16:49] dwaiba commented on #30
Duplicate of #48 and PR #53 created for fixing all with cross references

[2018-03-12 16:49] #30 closed

[2018-03-16 18:10] CelsoSantos commented on #20
I too have this question.

I see the scripts folder has some infraAdd.sh files but they don't provision new machines (it could take advantage of azure-cli to do it, for instance) and also don't seem to be included in the bastion machine.

[2018-03-20 18:39] mavis1827 commented on #48
Hi,

I'm currently running into below failure even after making the changes to docker version and disabled the package version check. We are doing a POC for a customer and this turned out be a blocker for us. Appreciate a quick fix on this.

[2018-03-22 10:43] dwaiba opened #54 "asb fails for 3.7"
[code]

[2018-03-22 10:45] dwaiba commented on #54
[code]

[2018-03-22 11:00] dwaiba commented on #47
temp fix is changing root password manually from mycluster-master-0 and `systemctl restart atomic-openshift-master-api atomic-openshift-master-controllers`

[2018-03-22 17:11] meeuwesen commented on #48
with an release-3.7 deploy I only changed
openshift_disable_check=memory_availability,docker_image_availability,package_version
and put a "--force" behind the subscription_manager entry, beware some scripts have two register commands on one line so twice --force added

[2018-03-22 17:16] meeuwesen commented on #46
selecting the infrastructure poolid from the two went wel with the release-3.7.
now testing against the release-3.6 branch

[2018-03-22 21:22] mavis1827 opened #55 "OpenShift deploy fails during "Rebooting cluster to complete installation", post "Cloud Provider setup of OpenShift Cluster completed successfully""
I'm working on building a POC of OpenShift (OCP) on Azure for one of our customer. I ran into multiple issues (#48, 51 & 53) and i bypassed them by following the workarounds suggested and with the help of @dwaiba. Now i run into below issue:

New-AzureRmResourceGroupDeployment : 5:30:59 PM - Resource Microsoft.Resources/deployments 'OpenShiftDeployment' failed with message '{
  "status": "Failed",

[2018-03-23 00:18] haroldwongms commented on #52
I'm willing to bet the prep step to grow the partition failed to process correctly on master-2.  Not sure why that is occurring though.

[2018-03-25 10:01] erjosito opened #56 "Some required package(s) are available at a version that is higher than requested"
Hi there,

The deployment of the master branch fails with the message "Some required package(s) are available at a version that is higher than requested docker-1.13.1".

In deployOpenshift.sh I added the flag package_version to openshift_disable_check, the line looks like this in my fork:
openshift_disable_check=memory_availability,docker_image_availability,package_version

With that the installat

[2018-03-25 13:32] miosman commented on #52
I have faced this before on one of the app nodes when checking the size of the OS disk it was 32GB rather 64GB. The installation succeeded though. It is random, I did like 7-8 deployments only happened once.

My unproven theory is that grow partition command sometimes reads the size of the diagnostics disk rather than the OS disk. Since the diagnostics disk is 32GB, it will grow the partition to 3

[2018-03-25 13:34] miosman commented on #56
If you are deploying openshift 3.7 you should use 3.7 branch.  master can contain experimental things for the next release of openshift.

[2018-03-26 03:52] taneem-ibrahim opened #57 "Installation failed due to "Changing Availability Set SKU from 'Aligned' to 'Classic' is not allowed""
I put "storageKind" attribute value as unmanaged and for location (-l) I put "South Central US".
[code]

[2018-03-26 16:07] RubyonSnow commented on #56
This happens also when using the 3.6 branch. Is there any workaround that doesn't require the usage of 3.7?

[2018-03-27 04:02] miosman commented on #56
the same workaround for 3.7 branch will work for 3.6.

1. disable the package version check
`openshift_disable_check=memory_availability,docker_image_availability,package_version`

2. change masterPrep.sh and nodePrep.sh to install the correct docker version
`yum -y install docker-1.12.6`

[2018-03-27 17:45] mavis1827 commented on #55
@haroldwongms Could you please help me get some traction on this issue? It's been 5 days since i opened this issue.

[2018-03-27 18:52] mavis1827 opened #59 "OpenShift deploy fails during "Rebooting cluster to complete installation""
I'm working on building a POC of OpenShift (OCP) on Azure for one of our customer. I ran into multiple issues (#48, 51 & 53) and i bypassed them by following the workarounds suggested and with the help of @dwaiba. Now i run into below issue:

New-AzureRmResourceGroupDeployment : 5:30:59 PM - Resource Microsoft.Resources/deployments 'OpenShiftDeployment' failed with message '{
"status": "Failed",
"

[2018-03-27 18:54] mavis1827 commented on #59
@miosman Can you please help me with this issue?

[2018-03-27 23:57] miosman commented on #59
What I can see from the logs is that the error is in:
`error: 'openshift-infra' already has a value (apiserver), and --overwrite is false`
which corresponds to the command
`runuser -l $SUDOUSER -c  "oc label nodes $MASTER-0 openshift-infra=apiserver"`  in `deployOpenshift.sh`

It seems you are were retrying the deployment after the deployment failed at a later step and that's why the label is alre

[2018-03-28 03:17] mavis1827 commented on #59
@miosman Ok. Every attempt i make is from scratch. After every failure i delete the RG and start all over again.

However, i have made several changes to my scripts (change docker version from 1.12.6 to 1.13.1, grant permission to SP at subscription level and changing the defaultValue URL path) and the deployment is successful now. So, i think we can close this issue.

[2018-03-28 03:17] #59 closed

[2018-03-28 03:18] mavis1827 commented on #55
i have made several changes to my scripts (change docker version from 1.12.6 to 1.13.1, grant permission to SP at subscription level and changing the defaultValue URL path) and the deployment is successful now. So, i think we can close this issue.

[2018-03-28 03:18] #55 closed

[2018-04-04 23:47] haroldwongms commented on #57
The error sounds like you started with aligned (Managed) and tried to switch to classic (unmanaged).  Was this a new cluster deployment in a new resource group?

[2018-04-04 23:49] haroldwongms commented on #56
I didn't realize we did not update the 3.6 branch yet.  I will work on updating this over the next few days.

[2018-04-04 23:52] haroldwongms commented on #54
We are seeing that ASB is creating a PVC that is not being fulfilled.  We have addressed this in the 3.9 deployment and I will work on porting this fix over to 3.7.

[2018-04-04 23:54] haroldwongms commented on #51
Closing this issue as it was fixed with PR #50

[2018-04-04 23:54] #51 closed

[2018-04-05 16:03] RubyonSnow commented on #56
Working with branch 3.7 and basically changing version No. to 3.6 worked better than trying to fix branch 3.6 btw. :)

[2018-04-06 17:25] haroldwongms commented on #48
This is fixed via different PRs.

[2018-04-06 17:25] #48 closed

[2018-04-06 17:30] haroldwongms commented on #44
OCP 3.9 in master and release-3.9 branch as well as the azurestack-release-3.7 and azurestack-release-3.9 branches are now using port 443.  Do we need to port this to release-3.7 and release3-6 as well?

[2018-04-10 23:00] taneem-ibrahim commented on #57
Hi Harold,

Thank you for the reply. Yes it was a new cluster. I did not intentionally mention anything regarding managed or unmanaged in the initial set of commands. The only place where I added that attribute was in storageKind. Does the script by default create the Azure VMs with managed disks even if the template json file has "unmanaged" configured?

I ended up creating the OpenShift cluster

[2018-04-11 21:18] adibalsa opened #85 "MySQL or MongoDB persistent template from the OCP 3.6.1 catalog non working"
Version: oc v3.6.1

I've deployed a 3.6.1 OCP cluster on Azure 2-3 weeks ago using Azure template. Deployment succeeded and cluster is up&running. I've deployed some images (like NGINX and others) and everything looks fine.
However if I deploy a MongoDB from OCP catalog (plain vanilla MongoDB) using persistent storage (PV) the deployment fails with this messagge (simlar error if I deploy MySQL or

[2018-04-13 07:25] heatmiser opened #86 "Do Not use Premium_LRS for Docker Registry storage account"
Not sure if you have a Notes section for this project, however, I ran into the following so I thought I would make folks aware and maybe save people some time.  Ran into the following issue when I changed the Docker Registry storage account to Premium_LRS:

https://github.com/theobolo/kube-registry-azure/issues/1

When the Docker Registry storage account is set to Premium_LRS, everything will depl

[2018-04-13 16:02] heatmiser commented on #86
Harold, thanks for the verification. Yes, I have forked the repo, however, only to be able to modify the deploy shell scripts.  I am using Terraform to deploy all underlying infrastructure resources prior to executing prep/deploy shell scripts.

Greatly appreciate the quick response!

[2018-05-03 18:43] dstrebel opened #92 "Cockpit not available on install"
It seems that cockpit is not available at install time and there is no option to set it in the deployment. Is this expected?

[2018-05-05 06:48] haroldwongms commented on #21
No responses in quite some time.  Closing this issue.

[2018-05-05 06:48] #21 closed

[2018-05-05 21:56] haroldwongms commented on #46
@meeuwesen The licensing does give you "extra" so you can install masters and infra nodes since those do not get charged for but must be attached to pool in order to get rpms.  Please update with your status.  Thanks.

[2018-05-05 22:07] haroldwongms commented on #57
@taneem-ibrahim Can you please confirm if you are still seeing this issue?  I have made some changes to the templates and have just tested the master branch with both unmanaged and managed disks.  Both configurations deploy successfully.  Thank you.

[2018-05-05 22:09] haroldwongms commented on #56
@erjosito Can you please verify that you are still seeing this issue with release-3.7 or master (which is 3.9)?  We fixed the docker issue for 3.6, 3.7 and 3.9.
Thanks.

[2018-05-05 22:12] haroldwongms commented on #44
Have not heard back but since we have now changed to using port 443 in 3.9, I am closing.

[2018-05-05 22:12] #44 closed

[2018-05-06 08:30] erjosito commented on #56
I tested the 3.9 branch and it worked like a charm! Thanks!

[2018-05-09 18:07] vincepower commented on #92
Cockpit is installed by default.
OpenShift has moved towards a single web console and all the dashboards cockpit provides should be available through it.

[2018-05-09 23:12] taneem-ibrahim commented on #57
@haroldwongms It works now! Thank you so much, Harold.

[2018-05-09 23:12] #57 closed

[2018-05-14 12:27] alezzandro opened #98 "Deployment keeps failing if system is already registered"
Hi,

it seems that Azure deployment keeps failing also after the PR #75.

In file

 and the other preparation scripts:
[code]

The "$?" value is consumed by the first IF, it should be saved in a variable to keep checking it in a IF/ELSIF construct.

I've also checked that the next IF will not match *always* the exact string (sometimes subscription-manager will output more than a string, for exampl

[2018-05-17 11:19] edmacabebe opened #100 "deployOpenshift.sh unable to find etc/ansible/ansible.cfg"
Deployment failed. Correlation ID: 7a334184-682a-48d4-bec6-041a67552f9c. {
  "status": "Failed",
  "error": {
    "code": "ResourceDeploymentFailure",
    "message": "The resource operation completed with terminal provisioning state 'Failed'.",
    "details": [
      {
        "code": "DeploymentFailed",
        "message": "At least one resource deployment operation failed. Please list deployment

[2018-05-22 00:52] haroldwongms commented on #100
Ansible is installed on the Bastion.  Which branch are you using?

[2018-05-23 05:16] haroldwongms commented on #54
Fix has been ported to release-3.7 branch.  Service Catalog installs post cluster installation.

[2018-05-23 05:17] haroldwongms commented on #56
Closing as this issue is resolved.

[2018-05-23 05:17] #56 closed

[2018-05-23 05:18] haroldwongms commented on #86
Documentation will be updated to call this out.  Closing this issue.

[2018-05-23 05:18] #86 closed

[2018-06-05 13:01] haroldwongms commented on #54
Closing as issue is now resolved.

[2018-06-05 13:01] #54 closed

[2018-06-08 06:13] dwaiba opened #104 "Deployment Failure"
Deployed as following:
1. `docker run -ti docker4x/create-sp-azure openshiftsp`

`Your access credentials ==================================================
AD ServicePrincipal App ID:       xxxxxx
AD ServicePrincipal App Secret:   xxxxxx
AD ServicePrincipal Tenant ID:   xxxxxx`

2. `az group create -n openshiftkvrg -l 'East US' && az keyvault create -n openshiftprivkeys -g openshiftkvrg -l 'East

[2018-06-12 18:08] antoniogallegosaez opened #105 "v3.9.30 deployment fails because 2 lines are not added to the inventory"
Please add two new lines into the inventory in DeployOpenShift.sh, so the installation can be completed successfully. This is the related solution: https://access.redhat.com/solutions/3480921. The lines are:

oreg_url=registry.access.redhat.com/openshift3/ose-${component}:${version}
openshift_examples_modify_imagestreams=true

[2018-06-17 13:18] vincepower commented on #105
Thanks, I'm testing this and will submit a pull request as soon as the test succeeds.

[2018-06-21 11:57] dwaiba opened #111 "Deployment Error 3.9 Release"
Deployed as following:
1. `docker run -ti docker4x/create-sp-azure openshiftsp`

`Your access credentials ==================================================
AD ServicePrincipal App ID:       xxxxxx
AD ServicePrincipal App Secret:   xxxxxx
AD ServicePrincipal Tenant ID:   xxxxxx`

2. `az group create -n openshiftkvrg -l 'East US' && az keyvault create -n openshiftprivkeys -g openshiftkvrg -l 'East

[2018-06-21 11:59] dwaiba commented on #104
closing as latest issue on new merge to 3.9 branch raises #111

[2018-06-21 11:59] #104 closed

[2018-06-21 18:16] haythamhosney commented on #20
yes i am also , looking on this  :)

[2018-06-25 14:43] dwaiba commented on #111
Closing as regression with same input aucceeds with default 2 infra, three masters and 2 app nodes.....

[2018-06-25 14:43] #111 closed

[2018-06-27 16:29] haroldwongms commented on #105
This is fixed in PR#108, 109 and 110

[2018-06-27 16:29] #105 closed

[2018-06-28 17:23] code-sooraj opened #112 "Master NSG has 2 rules for port 443 and none for 8443 port"
Openshift 3.9 installation has 2 rules for port 443 and none for 8443 port.

Could you please have a look?

[2018-07-15 03:58] haroldwongms commented on #112
We are no longer using port 8443.  We changed to using 443 instead.

[2018-07-15 04:00] haroldwongms commented on #13
CNS is now an option with 3.9 cluster.  I am closing.

[2018-07-15 04:00] #13 closed

[2018-07-18 16:16] derekjhunt opened #117 "Feature Request: Support for Satellite servers as a method of attaching entitlements."
We're using Red Hat Satellite to manage entitlements.  It would be helpful to allow the use of a Satellite server during the provisioning process.

In our use case, a large University, multiple schools run different satellite servers, but we share an enterprise account for license management, so the current deployment in the Marketplace and this repository are, currently, not usable.

Thanks!

[2018-08-02 15:30] haroldwongms commented on #117
I will look into this and see what is required to support that.

[2018-08-06 20:13] derekjhunt commented on #117
Thanks!  This is a huge blocker for us moving OpenShift to Azure right now.

[2018-08-09 15:56] haroldwongms commented on #112
Closing this issue as we no longer use port 8443.

[2018-08-09 15:56] #112 closed

[2018-08-10 22:17] haroldwongms commented on #98
Closing this issue as it was fixed with multiple PRs.

[2018-08-10 22:17] #98 closed

[2018-09-27 21:50] bkugler-xv opened #132 "osImageType now required by Azure?"
I get errors when deploying a 3.9 cluster in Azure when it tries to spin up the nodes.  It is complaining that the osImageType is missing.  My deployments were working back in June.

"details": [
    {
      "code": "BadRequest",
      "message": "{\r\n  \"error\": {\r\n    \"code\": \"InvalidTemplate\",\r\n    \"message\": \"Deployment template validation failed: 'The value for the template param

[2018-10-03 11:38] fasalzaman opened #134 "Deployment docker-registry #2 failed."
I deployed OpenShift cluster 3.10 and I am getting these errors while accessing the pre-created projects

1. Deployment docker-registry #2 failed.
2. Deployment logging-es-data-master-aq7mmcyb #1 failed.

Also, I tried adding Jenkins to the project and I got the following error.

The service is not yet ready. Error provisioning ServiceInstance of ClusterServiceClass (K8S: "70ede23f-c6f0-11e8-85cb-

[2018-10-06 08:44] Zuldajri opened #135 "Marketplace OS Image - BYOS - cannot be used"
Hello Guys,

I'm raising an issue regarding the marketplaceOSImage.
So I don't pay double for the RHEL subscriptions, I'm trying to use the marketplace image that is BYOS.

I entered the appropriate values for 'publisher', 'offer', 'sku', 'version' of the marketplace offer. (they got updated, we can now chose between rhel-raw75, rhel-lvm74 and rhel-lvm75).

The issue I have is that this template i

[2018-10-21 11:19] arheukels opened #137 "VM has reported a failure when processing extension 'deployOpenShift' on Azure Stack."
Please can somebody help, the installation keeps on failing with the message "

"VM has reported a failure when processing extension 'deployOpenShift'. Error message: Enable failed: failed to execute command: command terminated with exit status=4"

For now i am using a RHEL trial license with 10 hosts and OpenShift.
masters = 3
Infra = 2
Node =1
CNS =true (3 hosts)
Bastion = 1

If somebody can hel

[2018-10-22 07:19] arheukels commented on #137
Changed the Disk size and VM size and now i  get the exit code 2.
These are the parameters i use for the installation.

- VM-Size Standard_DS2_v2

- openshiftClusterPrefix = tmw-d

- masterInstanceCount = 3

- infraInstanceCount = 2

- nodeInstanceCount = 1

- dataDiskSize = 128GB

- enableMetrics = false

- enableLogging = true

- enableCNS = true

- rhsmUsernameOrOrgId = using RedHat trial licen

[2018-10-22 16:18] haroldwongms commented on #137
@arheukels,

As @BorisB2015 mentioned, the stdout and stderr files (deployment logs) will provide more helpful detail than the fragments from the ARM provider.

Also, Infra nodes of size DS2_v2 will most likely experience issues if logging is enabled.

[2018-10-22 16:33] haroldwongms commented on #132
@bkugler-xv,

Are you using the release-3.9 branch?  I implemented the osImageType in 3.10 but did not backport to 3.9.  Even for 3.10, I set the default value to 'defaultgallery" so if you don't define this parameter, it will just default ot the on-demand RHEL gallery image.

[2018-10-22 23:16] arheukels commented on #137
@haroldwongms @BorisB2015 It is all new for me, thank you for the support.

When i try to login to the Bastion node by using Putty with the username and password in the parameters to collect the logs it failed.

Access denied
Using keyboard-interactive authentication.

[2018-10-22 23:18] haroldwongms commented on #137
@arheukels You log into the bastion host using the private key that matches the public key you used for deployment.  That was the same key you stored in the Key Vault.

The password you specified is for log in to OpenShift itself once the cluster is up and running.

[2018-10-23 08:49] arheukels commented on #137
@haroldwongms  Thank you

I still have to do some more research, for now i find a lot of heteki errors in "stdout" log

TASK [openshift_storage_glusterfs : Wait for heketi pod] ***********************
FAILED - RETRYING: Wait for heketi pod (30 retries left).
FAILED - RETRYING: Wait for heketi pod (29 retries left).
FAILED - RETRYING: Wait for heketi pod (28 retries left).
FAILED - RETRYING: Wait f

[2018-10-23 15:39] haroldwongms commented on #137
@arheukels, you will see tasks that have failures and retries because the playbook task is waiting for the pod to start or for something to happen.  That is why they put retry logic into the task.  In the case with gluster, you can see there were a set of retries but ultimately, it came back with ok: [tmw-d-mstr-0], so that pod did start.  The stderr log will have a bunch of warnings but these are

[2018-10-23 15:40] BorisB2015 commented on #135
William (@Zuldajri),

Please use http://aka.ms/rhel-byos-preview - this is an entry point for Red Hat Cloud Access program for the RHEL BYOS images you currently see in the gallery.

[2018-10-23 15:40] #135 closed

[2018-10-24 01:53] haroldwongms commented on #22
This is not an issue on more current releases.  Closing.

[2018-10-24 01:53] #22 closed

[2018-10-24 01:54] haroldwongms commented on #46
The 3.10 branch supports broker pool id for use by bastion, masters, and infra nodes.

[2018-10-24 01:54] #46 closed

[2018-10-24 01:55] haroldwongms commented on #85
Please use a newer version of OpenShift and let us know if the issue persists.

[2018-10-24 01:55] #85 closed

[2018-10-24 01:56] haroldwongms commented on #100
Closing due to lack of response.

[2018-10-24 01:56] #100 closed

[2018-10-24 01:57] haroldwongms commented on #92
Closing due to lack of response.

[2018-10-24 01:57] #92 closed

[2018-10-24 01:57] haroldwongms commented on #134
I am also seeing this.  If I force a redploy, the new pod does deploy successfully.  I will look to see if this is a race condition.

[2018-10-24 01:58] haroldwongms commented on #28
Update: custom certificates are being incorporated now for master web console and routing domain.  Stay tuned as we finish working through the last few bugs before the PR.

[2018-10-24 06:50] arheukels commented on #137
@haroldwongms Going to grab the logs and will mail them.

Really appreciate the support.

[2018-10-24 07:51] PraveenAnil commented on #134
@haroldwongms  I am also getting this issue with deployment of OCP 3.9 cluster. The registry-console is not getting deployed. (Any way to force this to get deployed )

[2018-10-24 12:56] bkugler-xv commented on #132
I will have to recreate, it has been a few weeks.  I'm almost certain I was
using the 3.9 branch, thus the question about if this was a change on the
Azure side that needed backporting.

On Mon, Oct 22, 2018, 11:33 AM Harold Wong <notifications@github.com> wrote:

[2018-10-24 16:12] Zuldajri commented on #135
Thanks for the feedbacks guys.

Nice to know there is a process to use your Red Hat subscriptions (with Cloud Access) or through the Red Hat CCSP.

Any idea when it would go GA?

Thank you so much,
William

[2018-10-27 00:35] haroldwongms commented on #132
@bkugler-xv Let me know what you find.  Thank you.

[2018-10-31 08:19] linuxius commented on #28
Do you have a pre-release yet I could try. I found that changing the certificates after installation is quite impossible.

[2018-10-31 17:53] haroldwongms commented on #28
@linuxius my working branch is here: https://github.com/haroldwongms/openshift-container-platform/tree/certandproxy.  I have updated the readme but may still be missing some documentation.

[2018-11-02 11:03] fasalzaman opened #138 "OCP 3.7 cluster deployment is failing while processing "deployOpenshift""
While deploying Openshift cluster -release 3.7, it is failing with the following error message:
Can somebody look in to this issue.
It was deploying succesfully a couple of days back.

error message:

{"code":"DeploymentFailed","message":"At least one resource deployment operation failed. Please list deployment operations for details. Please see https://aka.ms/arm-debug for usage details.","detail

[2018-11-10 16:15] MeeraRepo commented on #138
Hi,
While deploying Openshift Container Platform-3.10,

We are facing an error as" “VM has reported a failure when processing extension deployOpenShift”.

Can somebody look into this issue. it would be helpful.  Thanks in advance..!!

Please find the below detailed information about parameters and error.

Parameters we used:
Master VM size: Standard_E2s_v3
Node VM size : Standard_DS4_v2
Infra VM s

[2018-11-12 11:35] linuxius commented on #28
Thanks for the speedy response. I cloned your working tree and adapted the  azuredeploy.parameters.json file according to the readme. But I am getting the following message:

"Unable to download deployment content from 'https://raw.githubusercontent.com/Microsoft/openshift-container-platform/master/nested/masterprep.json'.
The tracking Id is 'b7e81cad-da4b-4b2f-97ba-f34d16d1f2ed'. Please see https

[2018-11-12 15:54] haroldwongms commented on #28
@linuxius   Please update the _artifactsLocation parameter in the parameters file versus the azuredeploy.json file.  You do want to use https://raw.githubusercontent.com/haroldwongms/openshift-container-platform/tree/certandproxy as you stated above.

[2018-11-12 16:09] linuxius commented on #28
I tried that but I am getting the following error in the deployment log:
"code": "InvalidContentLink", "message": "Unable to download deployment content from 'https://raw.githubusercontent.com/haroldwongms/openshift-container-platform/tree/certandproxy/nested/galleryclusternode.json'. The tracking Id is '2ec87ad2-080a-4250-9a16-e909f1778169'. Please see https://aka.ms/arm-deploy for usage details.

[2018-11-12 16:22] haroldwongms commented on #28
My mistake.  Please use: https://raw.githubusercontent.com/haroldwongms/openshift-container-platform/certandproxy  (don't have tree at the end)

[2018-11-13 18:12] MeeraRepo commented on #138
it seems we have modified some parameters and able to deploy the Openshift container platform 3.10 successfully.

Please see below parameters which we modified to resolve the issue.

Branch: release 3.10
VM size: Defaults
Metrics: false
Logging: false
CNS: true

but can you please provide your inputs on these parameters will be sufficient to run the cluster ..?

and can you please provide any link

[2018-11-13 19:12] MeeraRepo commented on #138
Hi

We have overcome the issue with following changes while deploying.

Branch  : release 3.10
VM size : Defaults
Metrics : false
Logging : false
CNS     : true

can someone will help with this please,
As we disabled Metrics and Logging while deployment using the Template, is there any way to create Metrics and Logging after post-deployment..?

[2018-11-15 17:22] MeeraRepo commented on #138
Hi

We have tried to deploy metrics and logging after post-deployment and followed the steps which are mentioned in the below URL:
https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/virtual-machines/linux/openshift-post-deployment.md

But we are getting the errors as :

TASK [openshift_sanitize_inventory : include_tasks] ***************************************************************

[2018-11-15 19:12] haroldwongms commented on #138
Give me a few days to look into this.

[2018-11-15 19:13] haroldwongms commented on #137
Give me a few days to look into this.

[2018-11-15 19:14] haroldwongms commented on #132
no response so assuming no longer an issue.

[2018-11-15 19:14] #132 closed

[2018-11-16 15:57] MeeraRepo commented on #138
Hi

We have fixed the issue by doing the following changes:

Step 1 :  In file /usr/share/ansible/openshift-ansible/roles/openshift_sanitize_inventory/tasks/deprecations.yml

          (no_log: true ) is changed to false
		  no_log: false

Step 2 : Again we have run the ansible-playbook

         Now we are able to see the error details ( as "{{ }}" is not removed when we passed the variables in i

[2018-11-19 17:22] MeeraRepo commented on #138
@haroldwongms We haven't changed anything in the deployOpenShift.sh file.  And used the ARM template as it is, but while deploying we disabled the Metrics and Logging.
Post-deployment we have tried to install Metrics and Logging. and we have done the above changes in the file `/etc/ansible/hosts`  on Bastion VM.

[2018-11-20 10:16] arheukels commented on #137
@haroldwongms Did a new deployment with "AZ CLI" and still get the same error

"Configuring SSH ControlPath to use shorter path name\\n\\n[stderr]\\nsed: can't read /etc/ansible/ansible.cfg"

Connected from Bastion to the master nodes and checked if i can find the "ansible.cfg" but it is not on the  master nodes. Where can i find this file "ansible.cfg" and can i add it manually?

Will send you al

[2018-11-20 15:47] haroldwongms commented on #137
ansible.cfg is on the bastion.  Also, per my email, please verify the pool id as you are getting an error that the OpenShift Repo is not available.

[2018-11-20 15:59] amitlib opened #144 "Deployment of Release-3.10 fails with "The value for the template parameter 'routingCertType' at line '65' and column '22' is not provided" error"
I am trying to deploy OCP from release-3.10 branch and the deployment fails asking me for parameters that are relevant only for master (3.11 release).

When looking at the azuredeploy.json of release-3.10 branch , I can see that _artifactsLocation is still pointing to master, and red-hat tags is showing version 3.9.

[code]

[2018-11-20 22:14] haroldwongms commented on #137
@arheukels Any update?

[2018-11-20 22:17] haroldwongms commented on #144
You can override this parameter by including that in the parameters file.  Point to the 3.10 branch.  I will update this in the azuredeploy.json soon.

[2018-11-21 16:46] arheukels commented on #137
@haroldwongms small update

In the output from the installation i noticed  "\\\": \\\"Unable to connect to the server: dial tcp 185.242.244.58:443: i/o timeout\\\\n\\\", \\\"stdout\\\":

Tried to do a wget https://185.242.244.58:443 --no-check-certificate from the Bastion node after the failed installation and it is successful. Why is it showing a time out at the installation then.

[2018-12-11 21:31] amelie1979 opened #148 "HA not working after closing the first Master"
/etc/origin/master/master-config.yaml (is not updated and point to the first master)
so when you close the first master all the apps stop serving (app not available)

Is it possible that activate-private-lb.31x.yaml doesnt get invoke during installation ?

[2018-12-20 16:56] stencell opened #149 "OpenShiftDeployment stage failing"
My deployment is failing on the "Enabling a static-website in the web storage account" step of the deployOpenShift.sh script. The error message is:

`az storage blob service-properties update: error: Storage account 'XXXXXXXXXX' not found.`

However, the storage account is definitely there and when I run the following command, it seems to work fine:

[code]

[2018-12-21 00:22] stencell commented on #149
This was straight up user error...I had an SP created that was restricted to the wrong RG!

[2018-12-21 00:22] #149 closed

[2019-01-02 03:03] zhushendhh opened #151 "docker cannot be started due to the OPTION configuration"
I am trying to install OCP3.11 with this scripts and during the step 1 it shows the docker daemon cannot be started on Masters and Nodes.

I guess it may be related to: (in masterPrep.sh and nodePrep.sh)

# Update docker storage
echo "
# Adding insecure-registry option required by OpenShift
OPTIONS=\"\$OPTIONS --insecure-registry 172.30.0.0/16\"
" >> /etc/sysconfig/docker

Where is the $OPTIONS co

[2019-01-15 14:59] arheukels opened #152 "Change defaultSubDomain installation failed (Azure Stack)"
Before deploying OpenShift 3.9 on Azure Stack i changed the following parameters and the deployment failed. The customer want's to use their own domain for the OpenShift deployment.

defaultSubDomainType  nipio to custom
defaultSubDomain changeme to apps.tmw-d.domain.nl

domain.nl is the domain of the customer is it possible to do it this way or am i missing something.

Kind Regards,
Arie

[2019-01-15 15:21] arheukels commented on #137
Was missing a dns forwarder on the internal DNS to Azure stack for cloudapp.com that is needed for the load balancer.
More information https://docs.microsoft.com/en-us/azure/azure-stack/user/azure-stack-dns

[2019-01-15 15:21] #137 closed

[2019-02-14 07:47] 963029755 opened #153 "Execute the deployopenshift.sh script and report an error"
**Describe the bug**
An error occurred in azure executing your script in China
Modify the script link: https://openshift1.blob.core.chinacloudapi.cn/script/deployOpenShift.sh

**To Reproduce**
An error was reported after running the script

**Expected behavior**
Successfully deployed openshift automation scripts in azure China

**Screenshots**
![error](https://user-images.githubusercontent.com/461

[2019-02-14 08:06] haroldwongms commented on #153
Are you sure you have the private key configured correctly?  No passphrase assigned?  Did you create the Key Vault secret properly?

[2019-02-15 06:39] 963029755 commented on #153
All of these were created successfully, with the creation process on azure:
1. Create resource groups
2. Create a keystore
3. Create the key
4. Assign permissions
5. Upload the certificate/public key
Create the run script
Do you think the script is modified correctly? The virtual machine "-0" could not be found because of an error.

[2019-02-15 08:32] Borrelworst opened #154 "Private masterClusterType role-out fails"
**Describe the bug**
When choosing masterClusterType = Private, the deployment fails.

**To Reproduce**
Steps to reproduce the behavior:
1. Set the masterClusterType Private
2. Deploy a cluster with minimal settings (no metrics, no logging, no cns), 1 master, 1 infra, 1 node (I have tried with 3 masters, 3 infra and 3 nodes as well, same issue)
3. Wait for the deployment to fail.
4. See the error

[2019-02-15 08:56] Borrelworst commented on #154
Additional information: It fails when running this playbook:

~/openshift-container-platform-playbooks/activate-private-lb.31x.yaml

In this playbook a var file is mentioned:

- hosts: masters
  become: yes
  vars_files:
  - vars.yaml

And this file does not exist: Not on the bastion, and also not on the master.

[2019-02-15 17:24] haroldwongms commented on #153
Did you fork the templates and then modify them prior to deploying?

[2019-02-15 17:30] haroldwongms commented on #154
It seems I accidentally deleted the code from the deployment script that creates the vars.yaml file.  I will update that next week.

[2019-02-15 18:28] fefl opened #155 "Deployment failed: GlusterFS not starting on CNS-nodes"
**Describe the bug**
Deployment of the scripts fails on all CNS nodes due to the CNS Containers being unable to start. The only output we can see is: `env variable is set. Update in gluster-blockd.service`.

Checking the pods showed:

[code]

We suspected the kernel to be not compatible with the GlusterFS version.

Kernel version of the nodes:
[code]

We did an upgrade of the kernel to version:
[c

[2019-02-15 19:36] haroldwongms commented on #155
Looks like the latest release of OpenShift Container Storage is now requiring that I go to RHEL 7.6.  I was locking to 7.5 due to an issue early on.  I will work on updating templates and scripts next week.

[2019-02-18 01:26] 963029755 commented on #153
I changed your template azuredeploy json, azuredeploy. The parameters. The json, deployOpenShift. Sh these three document link is as follows, please you check the problem:
Azuredeploy. Json link: https://openshift1.blob.core.chinacloudapi.cn/script/azuredeploy.json
Azuredeploy. The parameters. The json link: https://openshift1.blob.core.chinacloudapi.cn/script/azuredeploy.parameters.json
DeployOpe

[2019-02-18 10:27] Borrelworst opened #156 "Openshift role out by Ansible fails"
**Describe the bug**
OpenShift Container Platform Deployment using Ansible can never work.

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy the platform according to the documentation
2. Results in error: The error was: 'master_publicip_fqdn' is undefined

**Expected behavior**
A deployed cluster using Ansible

**Additional context**
The problem here is that in the playbook a new play

[2019-02-18 13:02] Borrelworst commented on #156
After solving this part of the playbook, it turns out that this playbook stops after deploying the infra: The installation of the Openshift container platform is never initiated. I guess that this still is Work in Progress, and it would be kind to add this to the documentation.

[2019-02-25 03:13] 963029755 commented on #153
Is there anything running Ansible Inventory Ansible Inventory in the script?

[2019-02-25 12:42] 963029755 commented on #153
I found myself deploying as if the parameters weren't accurate...Where was the master parameter not given correctly in the script? Please give me your opinion.

[2019-02-28 08:58] amitlib opened #158 "OpenShift 3.10 deployment fails since Feb 25"
**Describe the bug**
A clear and concise description of what the bug is.
We deploy our OpenShift 3.10 cluster using Azure CLI with ARM. Since Feb 25 the deployment is failing with following error:
`
:57:43              "message": "{\r\n  \"status\": \"Failed\",\r\n  \"error\": {\r\n    \"code\": \"ResourceDeploymentFailure\",\r\n    \"message\": \"The resource operation completed with terminal pro

[2019-02-28 09:01] amitlib commented on #158
Another note is that were no changes in our deployment script.
In the bastion I can see that  under /var/lib/waagent/custom-script/donwload/0:

[code]

[2019-02-28 12:53] geda10 opened #159 "OpenShift 3.9 Deployment fails: the playbook /openshift-node/network_manager.yml could not be found"
**Describe the bug**
We deploy our OpenShift 3.9 cluster using Azure CLI with ARM. Since Feb 28 the deployment is failing.

**To Reproduce**
Deploy cluster with following command:
az group deployment create --name <> \
            --template-file azuredeploy.json \
            --parameters @azuredeploy.parameters.3.9.json \
            --resource-group <> \
            --no-wait"

**Parameters fil

[2019-03-01 09:50] geda10 commented on #159
also applies for OpenShift 3.11

[2019-03-01 16:47] geda10 commented on #159
**stdout**
stdout on bastion node showas following message:
[code]

problem:   java-1.8.0-openjdk-headless-1.8.0.201.b09-0.el7_6 now requires "pcsc-lite-devel(x86-64)"

since following bugfix:  https://access.redhat.com/errata/RHSA-2019:0435

fix: https://access.redhat.com/solutions/3949501
At the current time, to install java-1.8.0-openjdk-headless-1.8.0.201.b09-1.el6_10.x86_64 or java-1.8.0-open

[2019-03-06 21:51] haroldwongms commented on #159
Sorry for the delay.  I have been working on making a major update to the templates and scripts.  I have already incorporated the fix from @geda10 into the latest version of the templates and have opened a PR with a major revision.  Once this gets reviewed and we merge, all should be good.

[2019-03-06 21:51] haroldwongms commented on #158
Sorry for the delay.  I have been working on making a major update to the templates and scripts.  I have already incorporated the fix from @geda10 into the latest version of the templates and have opened a PR with a major revision.  Once this gets reviewed and we merge, all should be good.

[2019-03-06 21:52] haroldwongms commented on #156
Sorry for the delay.  I have been working on making a major update to the templates and scripts.  I have already incorporated the fix from @geda10 into the latest version of the templates and have opened a PR with a major revision.  Once this gets reviewed and we merge, all should be good.

[2019-03-06 21:52] haroldwongms commented on #155
Sorry for the delay.  I have been working on making a major update to the templates and scripts.  I have already incorporated the fixes into the latest version of the templates and have opened a PR with a major revision.  Once this gets reviewed and we merge, all should be good.

[2019-03-06 21:53] haroldwongms commented on #154
Sorry for the delay.  I have been working on making a major update to the templates and scripts.  I have already incorporated the fixes into the latest version of the templates and have opened a PR with a major revision.  Once this gets reviewed and we merge, all should be good.

[2019-03-06 21:54] haroldwongms commented on #153
Sorry for the delay.  I have been working on making a major update to the templates and scripts.  I have already incorporated the fixex into the latest version of the templates and have opened a PR with a major revision.  Once this gets reviewed and we merge, all should be good.

[2019-03-06 21:57] haroldwongms commented on #151
This is fine during the prep stage.  Once the deployment starts, the installer will take the --insecure-registry setting and incorporate into a brand new version of the file that will work just fine.

[2019-03-11 03:44] 963029755 commented on #153
The picture in the attachment is an error message. I'd like to trouble you to have a look at it. Thank you very much.

![2019-3-11](https://user-images.githubusercontent.com/46158660/54099167-d4a15400-43f2-11e9-8a22-5e5356a4a099.png)

cluster-bastion主机上的文件stderr  /var/lib/waagent/custom-script/download/1/stderr
![2019-03-11](https://user-images.githubusercontent.com/46158660/54099088-855b2380-43f2

[2019-03-12 18:35] luszczynski opened #161 "Openshift 3.11 release date"
When will 3.11 be released? Any plan for that?

[2019-03-12 19:55] haroldwongms commented on #161
Soon.

[2019-03-12 21:14] haroldwongms commented on #161
Master is now up to date with the latest 3.11 installation.  I need feedback from folks before creating stable branch.

[2019-03-12 21:15] haroldwongms commented on #159
Fixes now merged into master.  Please try again and let me know if you still have issues.

[2019-03-12 21:16] haroldwongms commented on #158
Fixes now merged into master. Please try again and let me know if you still have issues.

[2019-03-12 21:16] haroldwongms commented on #156
Fixes now merged into master. Please try again and let me know if you still have issues.

[2019-03-12 21:16] haroldwongms commented on #155
Fixes now merged into master. Please try again and let me know if you still have issues.

[2019-03-12 21:16] haroldwongms commented on #154
Fixes now merged into master. Please try again and let me know if you still have issues.

[2019-03-12 21:17] haroldwongms commented on #151
Fixes now merged into master. Please try again and let me know if you still have issues.

[2019-03-12 21:18] haroldwongms commented on #153
I just realized that this is an issue with deployment in China (21ViaNet).  I have not ever tested this in China as I don't have access.

[2019-03-12 21:19] haroldwongms commented on #148
Is this for a private cluster?  Can you please provide more details?

[2019-03-13 00:11] 963029755 commented on #153
Yes, if deployed on azure in China, there will be an error and no privilege to execute, because the current user on azure is not root, will it be related to this? Thank you...

[2019-03-13 13:30] haroldwongms commented on #153
Can you try the latest in master branch and let me know what happens?  Better to troubleshoot the current release that I know works in Azure Public today.

[2019-03-14 06:10] 963029755 commented on #153
Can you come up with a script for the deployment of azure in China? We can provide resources and labor costs here, and we can also come up with it.

[2019-03-14 08:22] haroldwongms commented on #153
what error are you getting with the updated scripts?  I don't have the ability to deploy to Azure China so I have no idea how to test.

[2019-03-14 08:48] 963029755 commented on #153
The latest deployment has been tried, and we will provide you with resources for Azure China account, which is already a headache. Thank you for your reply.

[2019-03-14 09:09] haroldwongms commented on #152
Arie,

Are they doing a private cluster in that they are not exposing anything to the Internet?

[2019-03-18 05:22] geda10 commented on #159
it's working now

[2019-03-18 08:49] amitlib opened #164 "OpenShift 3.11 deployment fails with unexpected EOF while looking for matching `''"
**Describe the bug**
Trying to deploy OCP 3.11 on existing vnet with template from 03/18/2019.
On the bastion node I can see that deployOpenShift.sh fails with error:

**To Reproduce**
Steps to reproduce the behavior:
1. Create parameters file with virtualNetworkNewOrExisting=existing
2. Created all the relevant secrets on Azure vault
3. run deployment:

**Expected behavior**
OCP 3.11 cluster will

[2019-03-18 14:28] haroldwongms commented on #159
Thank you.  Closing this issue now.

[2019-03-18 14:28] #159 closed

[2019-03-18 14:30] haroldwongms commented on #164
@amitlib Can you also provide the stdout?

[2019-03-19 02:28] gabrielhao opened #165 "deployOpenShift.sh supports Azure China/German Cloud"
**Is your feature request related to a problem? Please describe.**

Currently in deployOpenShift.sh it checks only if the cloud is AzureUSGovernmentCloud, otherwise it is AzurePublicCloud. For the deployment on Azure China/German Cloud, Kubernetes will use wrong endpoint URL, eg. query all storage account.

[code]

**Describe the solution you'd like**
The script can determine Azure China/German Cl

[2019-03-19 14:10] mglantz opened #166 "When using nipio DNS testing playbook fails"
**Describe the bug**
When nipio is used for DNS then the playbook:
openshift-container-platform-playbooks/check-dns-host-name-resolution.yaml
will timeout for each node in the cluster.

**To Reproduce**
Steps to reproduce the behavior:
1. Install OpenShift 3.11 from master
2. Watch /var/lib/waagent/custom-script/download/1/stdout and see how timeouts keeps happening even though nipio is in use.

*

[2019-03-19 15:46] #166 closed

[2019-03-20 12:12] wallenc commented on #154
I'm using the most recent templates and I'm still seeing this exact issue:

stdout:

TASK [Set Service Catalog install 'Complete'] **********************************
ok: [ocpclus-master01]

PLAY RECAP *********************************************************************
localhost                  : ok=11   changed=0    unreachable=0    failed=0
ocpclus-infra01            : ok=0    changed=0    unr

[2019-03-20 12:58] haroldwongms commented on #154
Thank you.  I will look into the script.

[2019-03-20 17:51] haroldwongms commented on #154
https://github.com/Microsoft/openshift-container-platform/pull/168 provided a fix for this.

[2019-03-20 17:52] #154 closed

[2019-04-03 13:52] 963029755 commented on #153
![1554299397(1)](https://user-images.githubusercontent.com/46158660/55484088-7155bb00-565a-11e9-9ae2-26745241e9bd.jpg)
![Uploading 0219-0403.png…]()
Sorry,  run the command to create the resource:

az group deployment create --name ocpdeployment --template-file azuredeploy.json --parameters @azuredeploy.parameters.json --resource-group openshift-cluster

Then the execution is wrong... How did you

[2019-04-10 16:04] amitlib commented on #164
stdout is empty. Tried to deploy it again today and got the same error.

[2019-04-10 18:06] amitlib commented on #164
I debugged the deployOpenShift.sh script, and it looks like the

[code]
doesn't return any value. When reviewing other clusters that we have with OCP 3.9-3.11 that are already running on Azure (up for a few months) , I do get a domainname.

[2019-04-23 14:21] GreenCee opened #169 "Using nipio hangs during DNS resolution check"
**Describe the bug**
Believe this is related or duplicated by: #166
When deploying the deployment will timeout waiting for the DNS hostname resolution check. It appears this was identified in #166. Testing the PR #167 did not skip the DNS hostname resolution check though.

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy a template on Azure Government following instructions from README.

[2019-04-24 00:52] haroldwongms commented on #169
DNS hostname resolution must always work before continuing to install OpenShift as the Ansible playbooks connect to each node in the cluster by hostname.  If the DNS hostname check is failing, then that means hostname resolution is not working which is a major issue and not directly associated to OpenShift.

Are you configuring for private clusters?  Master and Infra?  If you are, then you need to

[2019-04-24 00:52] haroldwongms commented on #155
closing due to non-activity

[2019-04-24 00:52] #155 closed

[2019-04-24 00:53] haroldwongms commented on #148
Closing due to inactivity.

[2019-04-24 00:53] #148 closed

[2019-04-24 00:55] haroldwongms commented on #153
Will address in templates once I confirm an available supported RHEL image in Azure China.

[2019-04-24 00:55] haroldwongms commented on #156
Assuming this is fixed since no response provided.

[2019-04-24 00:55] #156 closed

[2019-04-24 00:55] haroldwongms commented on #158
Assuming this is fixed since no response provided.

[2019-04-24 00:55] #158 closed

[2019-04-24 00:56] haroldwongms commented on #151
Assuming this is fixed since no response provided.

[2019-04-24 00:56] #151 closed

[2019-04-24 00:58] haroldwongms commented on #138
This should be fixed for 3.10 and 3.11.  No longer maintaining releases older than 3.10.

[2019-04-24 00:58] #138 closed

[2019-04-24 01:14] 963029755 commented on #153
Good morning:

        Well, thank you for uploading it to azure China from our company. I'm putting it on the web these days.
"marketplaceOsImage": {
            "value": {
                "publisher": "yungoalbj",
                "offer": "redhat75",
                "sku": "standard",
                "version": "1.0.0"
            }
        },

        Can you write the "aadClientSecret","opensh

[2019-04-25 03:28] GreenCee commented on #169
Hi Harold, thanks for replying so quickly.
So it should be a public cluster, and using Azure DNS. So pretty vanilla install overall.
It does look like DNS was created for bastion, master and infra at least in the portal
masterdns3eqnwek4of7z2.usgovvirginia.cloudapp.usgovcloudapi.net
I'm not up to speed on Azure DNS, so I need to explore that more to grok what's happening.

Here's the parameters fo

[2019-04-26 18:18] GreenCee commented on #169
Ah, I found the issue after some careful rereading and testing, the parameter has a placeholder of contoso.com
'"domainName": {
"value": "contoso.com"
}'

Per the readme it had to be this for a public (non-private cluster) install:
'"domainName": {
"value": "none"
}'

[2019-04-26 18:18] #169 closed

[2019-04-26 22:08] haroldwongms commented on #169
Hmm.  I will have to make the change so the default in the template itself is "none".  I thought I had set that but so many things going on in there.  Thanks!

[2019-06-10 08:10] githubbaranwal opened #171 "docker install fails"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**stdout**
Include the last 100 lines

[2019-06-10 08:11] #171 closed

[2019-06-10 08:14] githubbaranwal opened #172 "docker install fails"
**Describe the bug**
docker install fails while trying to resolve dependency for selinux packages.

**To Reproduce**
Steps to reproduce the behavior:
Create the cluster

**Expected behavior**
All prep steps are failing

**Screenshots**
If applicable, add screenshots to help explain your problem.

**stdout**
Include the last 100 lines of stdout from Bastion host - see troubleshooting https://docs.m

[2019-06-13 07:48] githubbaranwal commented on #172
a quick update, The issue was with RedHat Linux 7.5, changed the below parameter to 7.6 and that seemed to work with 3.11.82. 3.11.69 still fails on service catalog.
"osImageType": {
			"value": "defaultgallery"
		},
		"marketplaceOsImage": {
			"value": {
				"publisher": "RedHat",
				"offer": "RHEL",
				"sku": "7.6",
				"version": "latest"
			}
		},

[2019-07-03 08:34] Srimrao02 opened #174 "Openshift 3.11 fails with exit status=2"
**Describe the bug**
The template based installation fails with exit status=2

**To Reproduce**
Steps to reproduce the behavior:
Always when i run installation with template it fails.

az group deployment create --name OpenShiftAzure_Cluster3 -g OpenShiftAzure_Group2 \
      --template-uri https://raw.githubusercontent.com/Microsoft/openshift-container-platform/master/azuredeploy.json \
      --pa

[2019-07-03 08:35] Srimrao02 commented on #174
[template_content.txt](https://github.com/microsoft/openshift-container-platform/files/3353983/template_content.txt)

Attached the template file used

[2019-07-03 10:10] Srimrao02 commented on #174
Any help  please

[2019-07-03 16:55] haroldwongms commented on #174
the value for domainName must be 'none' if you are not deploying a private cluster.

[2019-07-04 04:14] Srimrao02 commented on #174
Hi @haroldwongms ,

Ya this is not a private cluster. Are you mentioning about this parameter from parameters file?

my parameter file has

[2019-08-09 09:07] mlacko64 opened #175 "Private cluster deployment fails - template error"
**Describe the bug**
Private cluster deployment fails when masterClusterType=private or routerClusterType=private (or both are private)

**To Reproduce**
1. subnets and PrivateDNS are created in Azure
2. run following command with latest template

az group deployment create --name MCPOCP-PrivCL-12-DEP --template-file C:\Users\mlacko\azure\azuredeploy.json --parameters C:\Users\mlacko\azure\azurede

[2019-08-20 11:49] vyunev opened #176 "Unable to start service iptables (Container Platform Self-Managed)"
We're using [Container Platform Self-Managed](https://azuremarketplace.microsoft.com/en-us/marketplace/apps/redhat.openshift-container-platform?tab=Overview) from Azure Marketplace. When we try to deploy solution to **West Europe** we failed with "Unable to start service iptables" error.

Still, we were able to deploy solution to **East US** region with no issue.

Any thoughts what the reason coul

[2019-08-23 20:29] abmusa opened #177 "Is OpenShift 3.9 the latest version that can be installed on an Azure Stack?"
I noticed that OpenShift 3.9 is that newest version that is listed in the Azure Stack branch. Is this because newer versions like 3.10 and 3.11 are not compatible with the Azure Stack? Or can I simply use the master branch to deploy OpenShift on an Azure Stack.

[2019-08-27 08:10] llegolas opened #178 "remove RHUI in scripts/*Prep.sh not working"
**Describe the bug**
The removal of the RHUI repos in prep scripts is not working
They execute:
[code]
while the repo files are having sufixes
[code]
The removal should be:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1.Install Openshift using these templates
2. audit /etc/yum.repos.d

**Expected behavior**
No RHUI repos files in /etc/yum.repos.d/

[2019-08-27 13:03] mlacko64 commented on #175
Hello,
yes domain name is missing in info I have provided (because I have hardcoded it to my template and forget to paste here (sorry for that)). Anyway even with domain name and working private DNS resolver (I used native private azure DNS - currently in "tech preview" mode, but working) I was still receiving this error.

I was later able to fix it when I added following condition to some templat

[2019-09-05 01:57] Edward-MS opened #181 "Unable to install Red Hat OpenShift Container Platform Self-Managed on Azure"
Hi All, I am using Red Hat OpenShift Container Platform Self-Managed, from Azure marketplace, for openshift installation. I am facing this error msg, could you please help ?

{"code":"DeploymentFailed","message":"At least one resource deployment operation failed. Please list deployment operations for details. Please see https://aka.ms/arm-debug for usage details.","details":[{"code":"Conflict","me

[2019-09-06 00:10] haroldwongms commented on #181
This information is not helpful enough.  When opening an issue, please follow the template and provide the details that are needed for proper troubleshooting.

[2019-09-09 10:06] vyunev commented on #176
Dear @haroldwongms, have you be able to dig into the issue?

[2019-09-12 07:54] abmusa opened #182 "OCP 3.11 install on Azure Stack is successful but Docker Registry deployment fails"
**Describe the bug**
I deployed OpenShift 3.11 on an Azure stack using the updated github instructions in https://github.com/microsoft/openshift-container-platform/tree/azurestack-release-3.11. However, I am unable to deploy any of the applications in the OpenShift catalog. The error is "unable to get docker-registry.default.svc:5000/openshift/php". I tried several applications and I get the same

[2019-09-14 02:05] abmusa commented on #182
Harold update the deployOpenShift.sh script and I was able to successfully deploy OpenShift 3.11 on the Azure Stack.

[2019-09-14 02:05] #182 closed

[2019-09-20 08:26] vyunev commented on #176
@haroldwongms ping

[2019-09-26 07:12] #176 closed

[2019-09-26 07:12] vyunev commented on #176
Hi, during our tests we're managed ti set cluster in West Europe. Still no clue what was the reason of the errors. I close the issue for now.

[2019-10-07 15:55] haroldwongms commented on #181
please make sure you have not set a passphrase on your ssh key.

[2019-10-16 05:39] aliartiza75 opened #184 "unable to add additional dashboards in grafana"
**Is your feature request related to a problem? Please describe.**

I am not able to add an additional dashboard in the grafana running in `openshift-monitoring` project. `openshift-monitoring` is the project this is created out of the box in the cluster.

**Describe the solution you'd like**
I want to be able to add additional dashboard in the out of the box grafana.

**Describe alternatives you'

[2019-10-16 12:39] aliartiza75 commented on #184
I have resolved this issue by running the node exporter in the new project and I assigned an empty string in the node selector section of the project. Before assigned the empty string the node exporter was running only in the compute nodes but this above change the node exporter now runs in all nodes.

OCP cluster specs:

3 master nodes
3 infra nodes
2 compute nodes

[2019-10-16 12:39] #184 closed

[2019-10-18 12:29] janegilring opened #185 "API version for Microsoft.Network/publicIPAddresses/master not specified"
When trying to deploy the template, the following error regarding a missing API version is returned:

az group deployment create --name ocpdeployment --template-file azuredeploy.json --parameters @azuredeploy.parameters.json --resource-group ocp-rg --no-wait               Azure Error: InvalidTemplate

[2019-10-18 12:32] janegilring commented on #175
@mlacko64 Did you resolve this error? I think it is the same I just ran into in https://github.com/microsoft/openshift-container-platform/issues/185

[2019-10-18 12:39] mlacko64 commented on #175
@janegilring yes, my above mentioned steps helped, seems you are facing same issue; so all you need it to fix reference on non-existing resources related to public master and router IPs and labels (because in case of private cluster they simply do not exists).

[2019-10-18 12:50] janegilring commented on #175
Ah, thanks!

I went ahead and performed the changes in azuredeploy.json, however, I get this error:

Azure Error: InvalidTemplate                                                                                                                                                                  Message: Deployment template validation failed: 'The template resource 'Microsoft.Resources/deployments/OpenS

[2019-10-18 13:04] mlacko64 commented on #175
@janegilring
seems I forgot to mention this change:

defined variable:
	"emptyString": "",

and then changed this line:

					"openshiftMasterPublicIpAddress": {
						"value": "[reference(variables('openshiftMasterPublicIpDnsLabel')).ipAddress]"

to following:

                    "openshiftMasterPublicIpAddress": {
                        "value": "[if(equals(parameters('masterClusterType'), 'pu

[2019-10-18 19:03] janegilring commented on #185
Closing this issue as it seems to be a duplicate of #175

[2019-10-18 19:03] #185 closed

[2019-10-19 09:53] janegilring commented on #175
@mlacko64 Thanks a lot, that did the trick. I suppose we should create a pull request for this. If you don`t have time, I`m happy to do it and give you the credits in the PR comment.

[2019-10-21 07:58] mlacko64 commented on #175
@janegilring I am happy to hear that it help. I haven't created pull request when I was facing this issue as I was not sure if I am not doing something wrong (it was first time for me using Azure templates).

Yes, it seems that pull request should be created, if you have time to create it , I will be grateful to you. Thanks for cooperation :)

[2019-10-21 08:05] mlacko64 commented on #175
@janegilring I am happy to hear that it help. I haven't created pull request when I was facing this issue as I was not sure if I am not doing something wrong (it was first time for me using Azure templates).

Yes, it seems that pull request should be created, if you have time to create it , I will be grateful to you. Thanks for cooperation :)

[2019-10-23 13:24] janegilring opened #186 "Support for pulling RHEL OS image from Red Hat"
We have a single subscription from Red Hat which has entitlements for OpenShift AND RHEL OS, due to this we are unable to separate the 2 for having BYOS request just for the RHEL image. Just like the Microsoft-provided ARM template installs OpenShift from parameters JSON file by taking in values of PoolID, subscription ID, Activation ID and organization ID, can the template/parameters file be modi

[2019-10-23 13:26] abudavis commented on #186
I had the exact same question!

[2019-10-29 20:02] janegilring opened #187 "Disk prerequisite check fails when using an LVM image"
**Describe the bug**
OpenShift has the following prerequisite:
"Minimum 40 GB hard disk space for the file system containing /var/"

The prerequisite check for this fails when using an LVM image. When using a RAW image, it succeeds.

**To Reproduce**
Steps to reproduce the behavior:
1. Define the following OS in the parameters file:

			"value": {
				"publisher": "redhat",
				"offer": "rhel-byos

[2019-10-29 20:09] janegilring opened #188 "OS specified in parameters file not being deployed"
**Describe the bug**
When deploying a RHEL BYOS image from a private marketplace offering, the actual OS deployed is not the one specified in the parameters file.

**To Reproduce**
Steps to reproduce the behavior:
1. Define the following OS in the parameters file:
	"osImageType": {
			"value": "marketplace"
		},
			"value": {
				"publisher": "redhat",
				"offer": "rhel-byos",
				"sku": "rhel-lv

[2019-10-29 20:44] haroldwongms commented on #188
If you look at the nested templates used to create the VMs, the three mentioned parameters are passed in.  There is a condition when osImageType=marketplace, marketplaceOsImage is used otherwise imageReference is used.

Don't check the OS version within the VM, look at resources.azure.com to determine the image used for the VM.  The prep scripts perform a yum update so ultimately, the OS version s

[2019-10-29 20:51] haroldwongms commented on #187
Hmm.  At one point, LVM wasn't supported by OpenShift.  That's why I used RAW and didn't include code to grow the volume for an LVM disk.

[2019-10-29 20:55] haroldwongms commented on #186
I don't fully  understand the question and ask here.  RHEL is "included" as part of your OpenShift entitlements.  You only need to enter the information for the pool ID that has the OpenShift entitlements.

[2019-10-30 11:54] vyunev opened #189 "Issue with Azure Marketplace deployment (in existing VNET)"
**Describe the bug**
When [Azure Marketplace Self-Managed](https://azuremarketplace.microsoft.com/en-us/marketplace/apps/redhat.openshift-container-platform?tab=Overview) solution is deploying in **existing VNET**, there is no option to put fully qualified subnet addresses/names as it required in the template ("Full reference to existing subnets"). Putting just subnet names is not supported in the

[2019-11-04 06:48] janegilring commented on #186
That works well, and the customer now has gotten access to their pool ID information.
Before they got the information, they wanted to dynamically pull the OS image from RHEL the same way they dynamically pull their IBM Cloud Pak container images from Red Hat.
However, that does not seem to be a supported deployment method for OS'es in Azure, and there is no need for it anymore - hence I'll go ahea

[2019-11-04 06:48] #186 closed

[2019-11-04 06:51] janegilring commented on #187
I see. As it is supported now, consider this a feature request :)

[2019-11-04 14:21] abudavis opened #190 "OCP 3.11 non-default SDN setting "OVS Multitenant" causing problems in deployments!"
**Describe the bug**
The OVS Multitenant flag caused our pre-production enterprise grade deployment of our application to fail as it had multiple components deployed across namespaces which were unable to communicate with each other. As a workaround, we had to explicitly allow this communication. We were not aware the script "https://github.com/microsoft/openshift-container-platform/blob/master/sc

[2019-11-04 14:34] janegilring commented on #188
I see, however, here is an example from a deployment where the following properties is defined in the parameters file:
		"osImageType": {
			"value": "marketplace"
		},
		"marketplaceOsImage": {
			"value": {
				"publisher": "redhat",
				"offer": "rhel-byos",
				"sku": "rhel-lvm76",
				"version": "7.6.20190918"
			}
		}

The imageReference property is not defined.

In the deployed instance, wh

[2019-11-04 23:14] smohandass opened #191 "Install with Private ClusterType assigns Public IP to bastion node"
**Describe the bug**
I followed the template and created a openshift environment using clusterType Private. However in the resulting environment, i see the Bastion node is assigned a public Ip by default. When using  this template to create an openshift environment on customers system this will be an issue, as they do not want Public IP (internet inbound) access to the cluster. They need the VM's

[2019-11-06 07:28] haroldwongms commented on #191
The OpenShift cluster itself does not have any public IPs.  The bastion host is setup with a public IP by default, but you can easily remove the public IP.

[2019-11-07 17:23] smohandass commented on #191
Certain customers have policy restrictions on their azure account which does not let them create public IP's so this template is failing for those scenarios. any workarounds?

[2019-11-08 08:39] janegilring commented on #176
We are seeing the same thing. iptables starts when deploying to West Europe, but not Norway East.

Any idea what might cause this?

[2019-12-02 08:28] janegilring opened #192 "Support for OpenShift Container Platform 4.2"
Now that OpenShift Container Platform 4.2 is released, are there any timeline for when support for the new version will be added to the OpenShift Container Platform Deployment Template for Azure?

[2019-12-16 09:55] raiopenshift opened #193 "The provided client secret keys are expired"
**Describe the bug**
We installed this cluster a year ago and now all cluster servers are NotReady, in /var/log/messages I can see this error when services try to start

_azureDisk - getAllStorageAccounts error: azure.BearerAuthorizer#WithAuthorization: Failed to refresh the Token for request to https://management.azure.com/subscriptions/64e2bf90-5696-4d27-831f-3661850f8ea0/resourceGroups/OCP-Coll

[2020-01-08 16:07] haroldwongms commented on #192
@janegilring The infrastructure components are provisioned as part of the OCP 4.x installer so there is no need for an ARM template.

[2020-01-08 20:04] janegilring commented on #192
I see, thanks. We will go ahead and try out the new version and see what the deployed infrastructure looks like, It looks like load balancers is not deployed as part of the installation, but I might be wrong as I didn't look into the details yet.

[2020-01-08 20:30] haroldwongms commented on #192
It does indeed deploy a load balancer.  Actually 2.  One for master api and one for application nodes.

[2020-01-29 21:17] uselessidbr commented on #190
That’s the default behaviour of multitenant SDN.

[2020-05-26 07:35] aiphone71 opened #195 "Private Cluster openshift 3.11 :: Master cluster hostname"
**Describe the bug**
fro deploying Private cluster of openshift  3.11 in azure stack
create.yml under ansible folder does not pass parameters related to private master  even after setting parameters in Azure parameter json file.

Which is expected in deployscript file

export PRIVATEIP=${31}
export PRIVATEDNS=${32}
export MASTERPIPNAME=${33}
export ROUTERCLUSTERTYPE=${34}
export INFRAPIPNAME=${35}

[2020-08-06 13:27] LorenzoBoccaccia commented on #193
https://docs.microsoft.com/en-us/azure/aks/update-credentials#update-aks-cluster-with-new-credentials